---
import BookRide from './book-ride.astro';

---
<!-- Main Content -->
   <!-- Main Content -->
   <div class="container-fluid py-4">
    <div class="row">
        <!-- Settings Navigation -->
        <div class="col-lg-3 mb-4">
            <div class="card">
                <div class="card-body p-0">
                    <div class="list-group list-group-flush settings-nav">
                        <a href="#general" class="list-group-item list-group-item-action active" data-bs-toggle="list">
                            <i class="ri-settings-3-line me-2"></i> General
                        </a>
                        <a href="#appearance" class="list-group-item list-group-item-action" data-bs-toggle="list">
                            <i class="ri-palette-line me-2"></i> Appearance
                        </a>
                        <a href="#notifications" class="list-group-item list-group-item-action" data-bs-toggle="list">
                            <i class="ri-notification-3-line me-2"></i> Notifications
                        </a>
                        <a href="#security" class="list-group-item list-group-item-action" data-bs-toggle="list">
                            <i class="ri-shield-keyhole-line me-2"></i> Security
                        </a>
                        <a href="#privacy" class="list-group-item list-group-item-action" data-bs-toggle="list">
                            <i class="ri-eye-off-line me-2"></i> Privacy
                        </a>
                        <a href="#integrations" class="list-group-item list-group-item-action" data-bs-toggle="list">
                            <i class="ri-puzzle-line me-2"></i> Integrations
                        </a>
                        <a href="#permissions" class="list-group-item list-group-item-action" data-bs-toggle="list">
                            <i class="ri-lock-line me-2"></i> Permissions
                        </a>
                        <a href="#activity" class="list-group-item list-group-item-action" data-bs-toggle="list">
                            <i class="ri-history-line me-2"></i> Activity Log
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Settings Content -->
        <div class="col-lg-9">
            <div class="tab-content">
                <!-- General Settings -->
                <div class="tab-pane fade show active" id="general">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5 class="card-title mb-0">General Settings</h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="mb-3">
                                    <label for="language" class="form-label">Language</label>
                                    <select class="form-select" id="language">
                                        <option value="en" selected>English</option>
                                        <option value="es">Spanish</option>
                                        <option value="fr">French</option>
                                        <option value="de">German</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="timezone" class="form-label">Timezone</label>
                                    <select class="form-select" id="timezone">
                                        <option value="utc" selected>UTC (Coordinated Universal Time)</option>
                                        <option value="est">EST (Eastern Standard Time)</option>
                                        <option value="cst">CST (Central Standard Time)</option>
                                        <option value="pst">PST (Pacific Standard Time)</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="dateFormat" class="form-label">Date Format</label>
                                    <select class="form-select" id="dateFormat">
                                        <option value="mdy" selected>MM/DD/YYYY</option>
                                        <option value="dmy">DD/MM/YYYY</option>
                                        <option value="ymd">YYYY/MM/DD</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </form>
                        </div>
                    </div>
                </div>
                
                <!-- Appearance Settings -->
                <div class="tab-pane fade" id="appearance">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Appearance Settings</h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="mb-4">
                                    <label class="form-label">Theme Mode</label>
                                    <div class="d-flex">
                                        <div class="form-check me-4">
                                            <input class="form-check-input" type="radio" name="themeMode" id="lightMode" checked>
                                            <label class="form-check-label" for="lightMode">
                                                Light Mode
                                            </label>
                                        </div>
                                        <div class="form-check me-4">
                                            <input class="form-check-input" type="radio" name="themeMode" id="darkMode">
                                            <label class="form-check-label" for="darkMode">
                                                Dark Mode
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="themeMode" id="systemMode">
                                            <label class="form-check-label" for="systemMode">
                                                System Default
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Sidebar Position</label>
                                    <div class="d-flex">
                                        <div class="form-check me-4">
                                            <input class="form-check-input" type="radio" name="sidebarPosition" id="sidebarLeft" checked>
                                            <label class="form-check-label" for="sidebarLeft">
                                                Left
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="sidebarPosition" id="sidebarRight">
                                            <label class="form-check-label" for="sidebarRight">
                                                Right
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Font Size</label>
                                    <div class="d-flex">
                                        <div class="form-check me-3">
                                            <input class="form-check-input" type="radio" name="fontSize" id="fontSmall">
                                            <label class="form-check-label" for="fontSmall">
                                                Small
                                            </label>
                                        </div>
                                        <div class="form-check me-3">
                                            <input class="form-check-input" type="radio" name="fontSize" id="fontMedium" checked>
                                            <label class="form-check-label" for="fontMedium">
                                                Medium
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="fontSize" id="fontLarge">
                                            <label class="form-check-label" for="fontLarge">
                                                Large
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </form>
                        </div>
                    </div>
                </div>
                
                <!-- Notification Settings -->
                <div class="tab-pane fade" id="notifications">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Notification Settings</h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="mb-3">
                                    <label class="form-label">Email Notifications</label>
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="emailNewRide" checked>
                                        <label class="form-check-label" for="emailNewRide">New ride requests</label>
                                    </div>
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="emailRideUpdates" checked>
                                        <label class="form-check-label" for="emailRideUpdates">Ride status updates</label>
                                    </div>
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="emailPayments" checked>
                                        <label class="form-check-label" for="emailPayments">Payment confirmations</label>
                                    </div>
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="emailMarketing">
                                        <label class="form-check-label" for="emailMarketing">Marketing and promotions</label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">SMS Notifications</label>
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="smsRideUpdates" checked>
                                        <label class="form-check-label" for="smsRideUpdates">Ride status updates</label>
                                    </div>
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="smsDriverArrival" checked>
                                        <label class="form-check-label" for="smsDriverArrival">Driver arrival alerts</label>
                                    </div>
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="smsPromotions">
                                        <label class="form-check-label" for="smsPromotions">Promotions and discounts</label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Push Notifications</label>
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="pushAll" checked>
                                        <label class="form-check-label" for="pushAll">Enable push notifications</label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </form>
                        </div>
                    </div>
                </div>
                
                <!-- Security Settings -->
                <div class="tab-pane fade" id="security">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Security Settings</h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="mb-3">
                                    <label for="currentPassword" class="form-label">Current Password</label>
                                    <input type="password" class="form-control" id="currentPassword">
                                </div>
                                <div class="mb-3">
                                    <label for="newPassword" class="form-label">New Password</label>
                                    <input type="password" class="form-control" id="newPassword">
                                </div>
                                <div class="mb-3">
                                    <label for="confirmPassword" class="form-label">Confirm New Password</label>
                                    <input type="password" class="form-control" id="confirmPassword">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Two-Factor Authentication</label>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="twoFactorAuth">
                                        <label class="form-check-label" for="twoFactorAuth">Enable two-factor authentication</label>
                                    </div>
                                    <div class="form-text text-muted">Add an extra layer of security to your account</div>
                                </div>
                                <button type="submit" class="btn btn-primary">Update Security Settings</button>
                            </form>
                        </div>
                    </div>
                </div>
                
                <!-- Privacy Settings -->
                <div class="tab-pane fade" id="privacy">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Privacy Settings</h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="mb-3">
                                    <label class="form-label">Profile Visibility</label>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="radio" name="profileVisibility" id="profilePublic" checked>
                                        <label class="form-check-label" for="profilePublic">
                                            Public - Anyone can view your profile
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="radio" name="profileVisibility" id="profileLimited">
                                        <label class="form-check-label" for="profileLimited">
                                            Limited - Only registered users can view your profile
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="profileVisibility" id="profilePrivate">
                                        <label class="form-check-label" for="profilePrivate">
                                            Private - Only you and administrators can view your profile
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Data Sharing</label>
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="shareRideHistory" checked>
                                        <label class="form-check-label" for="shareRideHistory">Share ride history with drivers</label>
                                    </div>
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="shareLocation" checked>
                                        <label class="form-check-label" for="shareLocation">Share location data during rides</label>
                                    </div>
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="shareAnalytics">
                                        <label class="form-check-label" for="shareAnalytics">Share usage data for service improvement</label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Save Privacy Settings</button>
                            </form>
                        </div>
                    </div>
                </div>
                
                <!-- Integrations Settings -->
                <div class="tab-pane fade" id="integrations">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Connected Services</h5>
                        </div>
                        <div class="card-body">
                            <div class="integration-item d-flex align-items-center justify-content-between mb-3 p-3 border rounded">
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-google fs-4 me-3"></i>
                                    <div>
                                        <h6 class="mb-0">Google</h6>
                                        <small class="text-muted">Calendar, Contacts</small>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-outline-danger">Disconnect</button>
                                </div>
                            </div>
                            <div class="integration-item d-flex align-items-center justify-content-between mb-3 p-3 border rounded">
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-facebook fs-4 me-3"></i>
                                    <div>
                                        <h6 class="mb-0">Facebook</h6>
                                        <small class="text-muted">Not connected</small>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-outline-primary">Connect</button>
                                </div>
                            </div>
                            <div class="integration-item d-flex align-items-center justify-content-between mb-3 p-3 border rounded">
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-apple fs-4 me-3"></i>
                                    <div>
                                        <h6 class="mb-0">Apple</h6>
                                        <small class="text-muted">Not connected</small>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-outline-primary">Connect</button>
                                </div>
                            </div>
                            <div class="integration-item d-flex align-items-center justify-content-between mb-3 p-3 border rounded">
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-paypal fs-4 me-3"></i>
                                    <div>
                                        <h6 class="mb-0">PayPal</h6>
                                        <small class="text-muted">Connected</small>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-outline-danger">Disconnect</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Permissions Settings -->
                <div class="tab-pane fade" id="permissions">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Role-Based Access Controls</h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-4">
                                <label class="form-label">Your Current Role</label>
                                <div class="d-flex align-items-center">
                                    <span class="badge bg-danger me-2">Administrator</span>
                                    <span class="text-muted">Full access to all system features and settings</span>
                                </div>
                            </div>
                            
                            <div class="mb-4">
                                <label class="form-label">Manage Team Permissions</label>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Feature</th>
                                                <th>Admin</th>
                                                <th>Manager</th>
                                                <th>Support</th>
                                                <th>Customer</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>User Management</td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" checked disabled>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" checked>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" disabled>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Driver Management</td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" checked disabled>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" checked>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" checked>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" disabled>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Financial Reports</td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" checked disabled>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" checked>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" disabled>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>System Settings</td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" checked disabled>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" disabled>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Save Permission Changes</button>
                        </div>
                    </div>
                </div>
                
                <!-- Activity Log -->
                <div class="tab-pane fade" id="activity">
                    <div class="card mb-4">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title mb-0">Activity Log</h5>
                            <div>
                                <select class="form-select form-select-sm">
                                    <option selected>All Activities</option>
                                    <option>Login Events</option>
                                    <option>System Changes</option>
                                    <option>User Management</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="activity-timeline">
                                <div class="activity-item mb-3 pb-3 border-bottom">
                                    <div class="d-flex">
                                        <div class="activity-icon bg-primary text-white">
                                            <i class="ri-login-box-line"></i>
                                        </div>
                                        <div class="ms-3">
                                            <div class="d-flex justify-content-between">
                                                <h6 class="mb-0">System Login</h6>
                                                <small class="text-muted">Today, 10:30 AM</small>
                                            </div>
                                            <p class="text-muted mb-0">Successful login from 192.168.1.105 (Chrome/Windows)</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="activity-item mb-3 pb-3 border-bottom">
                                    <div class="d-flex">
                                        <div class="activity-icon bg-warning text-white">
                                            <i class="ri-user-settings-line"></i>
                                        </div>
                                        <div class="ms-3">
                                            <div class="d-flex justify-content-between">
                                                <h6 class="mb-0">User Role Updated</h6>
                                                <small class="text-muted">Today, 09:45 AM</small>
                                            </div>
                                            <p class="text-muted mb-0">Changed Emily Johnson's role from Support to Manager</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="activity-item mb-3 pb-3 border-bottom">
                                    <div class="d-flex">
                                        <div class="activity-icon bg-info text-white">
                                            <i class="ri-settings-3-line"></i>
                                        </div>
                                        <div class="ms-3">
                                            <div class="d-flex justify-content-between">
                                                <h6 class="mb-0">Settings Changed</h6>
                                                <small class="text-muted">Yesterday, 3:30 PM</small>
                                            </div>
                                            <p class="text-muted mb-0">Updated notification preferences for system alerts</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="activity-item mb-3 pb-3 border-bottom">
                                    <div class="d-flex">
                                        <div class="activity-icon bg-danger text-white">
                                            <i class="ri-shield-keyhole-line"></i>
                                        </div>
                                        <div class="ms-3">
                                            <div class="d-flex justify-content-between">
                                                <h6 class="mb-0">Password Changed</h6>
                                                <small class="text-muted">Yesterday, 2:15 PM</small>
                                            </div>
                                            <p class="text-muted mb-0">Successfully updated account password</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="activity-item">
                                    <div class="d-flex">
                                        <div class="activity-icon bg-success text-white">
                                            <i class="ri-user-add-line"></i>
                                        </div>
                                        <div class="ms-3">
                                            <div class="d-flex justify-content-between">
                                                <h6 class="mb-0">New User Added</h6>
                                                <small class="text-muted">Jun 10, 2023, 11:20 AM</small>
                                            </div>
                                            <p class="text-muted mb-0">Added new user account for Robert Thompson</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="d-flex justify-content-center mt-4">
                                <button class="btn btn-outline-primary">Load More Activity</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

   