---
import SVGImg from '../../components/svgimg.astro'
import { FeaturedHowitWorksSVG } from '../../config'
import image from '../../images/astro/Victim AssistMainHeader.webp'
import '../../styles/heroCSS.css'

export interface Props {
  type?: String
  stateName?: string
}

let { type, stateName } = Astro.props
// console.log(4534535, type)

let content = { header: '' as string | undefined, description: '', button: '', img:''  }

switch (type) {
  case 'how-it-works':
    content = {
      header: 'How it Works',
      description:
        'Our goal is to make sure you always have everything you need to support your incarcerated loved one. Here’s how it all works.',
        button:'Get Started', 
        img:'https://iili.io/HxCsNzx.webp'  
    }
    break
  case 'send-money-product-page':
    content = {
      header: 'Send Inmates Money Online',
      description:
        'Fund your inmate’s commissary or inmate trust account using your credit, debit, prepaid or your bank account. Add to an inmate’s books today.',
      button:'Try Easy Pay', 
      img:'https://iili.io/HxCsNzx.wep' 
    }
    break
  case 'send-pictures-product-page':
    content = {
      header: 'Send Pictures to Inmates in Jail or Prison',
      description:
        'Send photos from your phone or computer to your inmate. Shipping and handling is included with your membership.',
        button:'Try Free', 
        img:'https://iili.io/HxCsNzx.webp' 
    }
    break
  case 'send-articles-product-page':
    content = {
      header: 'Send Articles to Inmates',
      description:
        'Send articles from your phone or computer to your inmate. Shipping & handling is included with your membership.',
        button:'Try Free', 
        img:'https://iili.io/HxCsNzx.webp' 
    }
    break
  case 'send-greeting-cards-product-page':
    content = {
      header: 'Send Greeting Cards to Inmates',
      description:
        'Send greeting cards for birthdays, holidays, and more all from your phone or computer to your inmate. Shipping & handling is included with your membership.',
        button:'Try Free', 
        img:'https://iili.io/HxCsNzx.webp' 
    }
    break
  case 'send-postcards-product-page':
    content = {
      header: 'Send Free Postcards to Inmates',
      description:
        'Send postcards from your phone or computer to your inmate. Pay for shipping & handling for additional postcards you send.',
        button:'Try Free', 
        img:'https://iili.io/HxCsNzx.webp' 
    }
    break
  case 'inmate-calling-product-page':
    content = {
      header: 'Inmate Phone Calls',
      description:
        'Your inmate will never miss a moment again, get your best rate phone number, today!',
        button:'Try Free', 
        img:'https://iili.io/HxCsNzx.webp' 
    }
    break
  case 'write-a-prisoner-product-page':
    content = {
      header: 'Write a Prisoner',
      description:
        'Send mail to jail and at any county, state, or federal correctional facility. We take all of the work of packaging letters for you – making it a quick, easy process. Write an inmate right from your phone, tablet or computer.',
        button:'Try Free', 
        img:'https://iili.io/HxCsNzx.webp' 
    }
    break
  case 'prisonwives':
    content = {
      header: 'Inmates aren’t the only ones who need support.',
      description:
        'Our Facebook group is a free support community group for prison wives, girlfriends, family, and friends of prisoners. It’s a place to come together and share with other people who already know exactly what you’re going through.',
        button:'Join Group', 
        img:'https://iili.io/HxCsNzx.webp' 
    }
    break
    
  case 'about':
    content = { header: 'byyebye', description: '', button:'', img:''  }
    break
  case 'pricing':
    content = {
      header: 'One low price, many ways to connect',
      description:
        'Let your love language show. Send unlimited photos, letters, postcards, greeting cards, and web articles to your loved one. All for one low price.',
        button:'Get Started', 
        img:'https://iili.io/HxCsNzx.webp' 
    }
    break
  case 'state-page':
    content = {
      header: stateName,
      description: 'Correctional Facilities Locator',
      button:'', 
      img:'https://iili.io/HxCsNzx.webp' 
    }
    break
  case 'facility-page':
    content = { header: stateName, description: 'bringing it to you', button:'', img:''  }
    
    break
  default:
    content = { header: 'ssssbyyebye', description: '', button:'', img:''  }
    break
}


---

<div class="relative bg-white dark:bg-gray-900 overflow-hidden">
  <div class="max-w-7xl mx-auto">
    <div
      class="z-10 relative pb-8 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32 bg-white dark:bg-gray-900"
    >
      <svg
        class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white dark:text-gray-900 transform translate-x-1/2"
        fill="currentColor"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
        aria-hidden="true"
      >
        <polygon points="50,0 100,0 50,100 0,100"></polygon>
      </svg>
      <main
        class="pt-10 mx-auto max-w-7xl px-4 sm:pt-12 sm:px-6 md:pt-16 lg:pt-20 lg:px-8 xl:pt-28"
      >
        <div class="text-center sm:text-left">
          <h1
            class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-100 sm:text-5xl md:text-6xl"
          >
            
            <span class="xl:inline" style="text-transform: capitalize;"
              >{content.header.replace( "-", " " )} 
            </span>
            
          </h1>
          <p
            class="mt-3 text-base text-gray-600 dark:text-gray-300 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
          >
            {content.description}
            {type == 'inmate-calling-product-page'  ?  <div> <br/> $4.99 per additional line *Restrictions may apply </div> : ''}
          </p>
          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">

            
            {type == 'facility-page' || type == 'state-page'  ?  '' : 
             <div class="rounded-md shadow">
              <a
                href="https://data3d.io/search"
                class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-cyan-600 hover:bg-pink-600 dark:text-black dark:bg-cyan-300 dark:hover:bg-pink-300 md:py-4 md:text-lg md:px-10"
                target="_blank"
              >
              {content.button}
              </a>
            </div>}
            
           
            
          </div>
        </div>
      </main>
    </div>
  </div>
  <div
    class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 bg-cyan-100 dark:bg-cyan-500"
  >
    <img
      src={content.img}
      class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
      alt="featured"
      id="optionalstuff"
    />

  </div>
</div>


