---

---
<div class="bg-white dark:bg-gray-800" style="text-align: center;  ">

  <div class="container mx-auto px-4 py-12 lg:py-24">
      <div class="flex flex-col lg:flex-row items-center justify-between" style=" margin-left: 10%; margin-right: 10%;"
  >

<div class="max-w-screen-xl mx-auto px-5 bg-white min-h-sceen">
<div class="flex flex-col items-left">
  <h2 class="font-bold text-3xl mt-5 tracking-tight" style="display: flex;
  flex-direction: row;">
    Inmate & Facility Questions
  </h2>

</div>
<div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
  <div class="py-5">
    <details class="group">
      <summary class="flex justify-between items-left font-medium cursor-pointer list-none">
        <span > Can you tell me the rate of my calls from my inmate’s facility?</span>
        <span class="transition group-open:rotate-180">
              <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
            </span>
      </summary>
      <p class="text-neutral-600 mt-3 group-open:animate-fadeIn  items-left " style="text-align:left">
        State and County inmate rates are determined by the facility provider and are subject to change. Victim Assist will provide you with the best-rate number available to help you save on your calls. On average, our customers see a 40-60% savings.
        <br><br>
        Federal inmates pay $0.06 per/minute with our best-rate number.
      </p>
    </details>
  </div>

  <div class="py-5">
    <details class="group">
      <summary class="flex justify-between items-left font-medium cursor-pointer list-none">
        <span > Do you service all facilities?</span>
        <span class="transition group-open:rotate-180">
              <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
            </span>
      </summary>
      <p class="text-neutral-600 mt-3 group-open:animate-fadeIn  items-left " style="text-align:left">
        Yes. All of our products and services are available to all state, county, and federal facilities that are located in the U.S. * If your loved one is housed in a TDCJ facility, at this time we are not able to provide telephone service. However, ALL other services are available to you.
      </p>
    </details>
  </div>
  <div class="py-5">
    <details class="group">
      <summary class="flex justify-between items-center font-medium
      cursor-pointer list-none">
      <span> Will my inmate still have to pay for the phone calls?</span>
      <span class="transition group-open:rotate-180">
      <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
      </svg>
      </span>
      </summary>
      <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
      Federal inmates pay for their phone calls out of their commissary accounts. For State and County inmates, the calls are deducted from the pre-paid phone account that is funded with the $25 payment.
      </p>
      </details>
      </div>
      <div class="py-5">
      <details class="group">
      <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
      <span> What do I do if my inmate moves or transfers?</span>
      <span class="transition group-open:rotate-180">
      <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
      </svg>
      </span>
      </summary>
      <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
      Don’t worry. We just need to update your inmate’s location for the services that require mailing. If we need to provide you with a new best-rate number to continue save on your calls, we will do that free of charge.
      </p>
      </details>
      </div>
      <div class="py-5">
      <details class="group">
      <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
      <span> How many minutes does my inmate get?</span>
      <span class="transition group-open:rotate-180">
      <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
      </svg>
      </span>
      </summary>
      <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
      The inmate is allowed to use the best-rate number for as many minutes as the facility allows.
      </p>
      </details>
      </div>
      <div class="py-5">
      <details class="group">
      <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
      <span> Can I check the balance on my prepaid account for State or County inmates?</span>
      <span class="transition group-open:rotate-180">
      <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
        <path d="M^ 9l6 6 6-6"></path>
      </svg>
      </span>
      </summary>
      <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
      Yes. Just contact our customer service department during business hours.
      </p>
      </details>
      </div>
      <div class="py-5">
      <details class="group">
      <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
      <span> How many inmates can I add?</span>
      <span class="transition group-open:rotate-180">
      <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
      </svg>
      </span>
      </summary>
      <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
      There is no limit to how many State, County or Federal inmate contacts you can add to your account.
      </p>
      </details>
      </div>
      <br/>
      <h2 class="font-bold text-3xl mt-5 tracking-tight">
      Payment Questions
      </h2>
      <div class="py-5">
      <details class="group">
      <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
      <span> Why do I have to add $25 on top of my monthly fee for my State or County Inmate?</span>
      <span class="transition group-open:rotate-180">
      <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
      </svg>
      </span>
      </summary>
      <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
      The $25 goes to the phone provider to set up and fund your inmate prepaid calling account.
      </p>
      </details>
      </div>
      <div class="py-5">
      <details class="group">
      <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
      <span> What is recurring billing?</span>
      <span class="transition group-open:rotate-180">
      <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
      </svg>
      </span>
      </summary>
      <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
      We will automatically bill your credit card monthly on your scheduled bill date. If your payment fails, we will continue to retry payment to reactivate your account periodically as long as you have an active subscription if you have not called in to cancel your subscription.
      </p>
      </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span> What forms of payment do you accept?</span>
            <span class="transition group-open:rotate-180">
                  <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
  </svg>
                </span>
          </summary>
          <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
            We accept all major credit cards; Visa, Mastercard, American Express, and Discover. We also accept prepaid cards. Currently we do not accept Western Union, MoneyGram, or personal checks for payment.
          </p>
        </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span> Can I use someone else’s credit card for payment?</span>
            <span class="transition group-open:rotate-180">
                  <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
  </svg>
                </span>
          </summary>
          <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
            Yes. If a user wishes to pay with any card that is not in their name we must first speak to the card holder and receive their consent on a recorded line.
          </p>
        </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span> Why do I need to have a credit card on file?</span>
            <span class="transition group-open:rotate-180">
                  <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
  </svg>
                </span>
          </summary>
          <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
            Our subscriptions are billed monthly and require a credit card on file to facilitate this.
          </p>
        </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span> Do I get a monthly bill in the mail?</span>
            <span class="transition group-open:rotate-180">
                  <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                  </svg>
                  </span>
                  </summary>
                  <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                  No. You may review your billing cycle date anytime online or if you need an invoice we can provide one upon request.
                  </p>
                  </details>
                  </div>
                  <br/>
                  
                  <h2 class="font-bold text-3xl mt-5 tracking-tight">
                  Account Questions
                  </h2>
                  <div class="py-5">
                  <details class="group">
                  <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                  <span> I already have an account with Securus, GTL, ICS or Etc…. Can I add my best rate number to it?</span>
                  <span class="transition group-open:rotate-180">
                  <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                  </svg>
                  </span>
                  </summary>
                  <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                  No. Victim Assist will set up and manage your prepaid calling account that is associated with our best rate number.
                  </p>
                  </details>
                  </div>
                  <div class="py-5">
                  <details class="group">
                  <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                  <span> Can I switch my services?</span>
                  <span class="transition group-open:rotate-180">
                  <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                  </svg>
                  </span>
                  </summary>
                  <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                  Yes. You can switch out your services at any time online in your account settings area.
                  </p>
                  </details>
                  </div>
                  <div class="py-5">
                  <details class="group">
                  <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                  <span> How do I cancel my account?</span>
                  <span class="transition group-open:rotate-180">
                  <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                  </svg>
                  </span>
                  </summary>
                  <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                  You can cancel your inmate’s subscription at any time online. All you need to do is select your inmate, select Edit, select Manage Plan, and then select Cancel Subscription.
                  </p>
                  </details>
                  </div>
                  <div class="py-5">
                    <details class="group">
                    <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                    <span> Can I cancel an order once checked out?</span>
                    <span class="transition group-open:rotate-180">
                    <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                    </svg>
                    </span>
                    </summary>
                    <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    No. There is a preview screen prior to checkout and all changes need to be made prior to processing payment.
                    </p>
                    </details>
                    </div>
                    <div class="py-5">
                    <details class="group">
                    <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                    <span> What if my phone number changes?</span>
                    <span class="transition group-open:rotate-180">
                    <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                    </svg>
                    </span>
                    </summary>
                    <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    You can always choose where you would like your calls to be routed. If you need to change the phone number where your calls are forwarded, you can update it in your account settings area.
                    </p>
                    </details>
                    </div>
<br/><br/>
                    <h3 style="font-weight:600">Didn’t find your question?</h3>
                    <div><br/>
                      Feel free to send us a message below, or call us during open hours so we can assist you. </div>


                    </div>
                    
                    </main>
                    