---

export interface Props {
  facilityPaths?:{facilityName:string, dateModified:string, facilityPath:string}[],
  statePath?:string,
  facilityName?:string,
  type?:string,
  stateName?:string,
  dateModified?:string,
  data?:[],
  test?:string
  slug?:string
}

let { type } = Astro.props
// console.log(4232323, type);


let content = { header: '' as string | undefined, description: '', button: '', img:''  }


switch (type) {
  case 'how-it-works':
    content = {
      header: 'How it Works',
      description:
        "Our goal is to make sure you always have everything you need to support your incarcerated loved one. Here's how it all works.",
        button:'Get Started', 
        img:'https://iili.io/HxCsNzx.webp'  
    }
    break
  case 'send-money-product-page':
    content = {
      header: 'Send Inmates Money Online',
      description:
        "Fund your inmate's commissary or inmate trust account using your credit, debit, prepaid or your bank account. Add to an inmate's books today.",
      button:'Try Easy Pay', 
      img:'' 
    }
    break
  case 'send-pictures-product-page':
    content = {
      header: 'Send Pictures to Inmates in Jail or Prison',
      description:
        'Send photos from your phone or computer to your inmate. Shipping and handling is included with your membership.',
        button:'Try Free', 
        img:'' 
    }
    break
  case 'send-articles-product-page':
    content = {
      header: 'Send Articles to Inmates',
      description:
        'Send articles from your phone or computer to your inmate. Shipping & handling is included with your membership.',
        button:'Try Free', 
        img:'' 
    }
    break
  case 'send-greeting-cards-product-page':
    content = {
      header: 'Send Greeting Cards to Inmates',
      description:
        'Send greeting cards for birthdays, holidays, and more all from your phone or computer to your inmate. Shipping & handling is included with your membership.',
        button:'Try Free', 
        img:'' 
    }
    break
  case 'send-postcards-product-page':
    content = {
      header: 'Send Postcards to Inmates',
      description:
        'Send postcards from your phone or computer to your inmate. Pay for shipping & handling for additional postcards you send.',
        button:'Try Free', 
        img:'' 
    }
    break
  case 'inmate-calling-product-page':
    content = {
      header: 'Inmate Phone Calls',
      description:
        'Your inmate will never miss a moment again, get your best rate phone number, today!',
        button:'Try Free', 
        img:'' 
    }
    break
  case 'write-a-prisoner-product-page':
    content = {
      header: 'Write a Prisoner',
      description:
        'Send mail to jail and at any county, state, or federal correctional facility. We take all of the work of packaging letters for you – making it a quick, easy process. Write an inmate right from your phone, tablet or computer.',
        button:'Try Free', 
        img:'' 
    }
    break
  case 'prisonwives':
    content = {
      header: "Inmates aren't the only ones who need support.",
      description:
        "Our Facebook group is a free support community group for prison wives, girlfriends, family, and friends of prisoners. It's a place to come together and share with other people who already know exactly what you're going through.",
        button:'Join Group', 
        img:'' 
    }
    break
    
  case 'about':
    content = { header: 'byyebye', description: '', button:'', img:''  }
    break
  case 'pricing':
    content = {
      header: 'One low price, many ways to connect',
      description:
        'Let your love language show. Send unlimited photos, letters, postcards, greeting cards, and web articles to your loved one. All for one low price.',
        button:'Get Started', 
        img:'https://iili.io/HxCsNzx.webp' 
    }
    break
    case 'faq':
    content = {
      header: 'One low price, many ways to connect',
      description:
        'Let your love language show. Send unlimited photos, letters, postcards, greeting cards, and web articles to your loved one. All for one low price.',
        button:'Get Started', 
        img:'https://iili.io/HxCsNzx.webp' 
    }
    break

  default:
    content = { header: 'ssssbyyebye', description: '', button:'', img:''  }
    break
}


---

<div class="bg-white dark:bg-gray-800" style="text-align: center;  ">

   
    <div class="container mx-auto px-4 py-12 lg:py-24">
        <div class="flex flex-col lg:flex-row items-center justify-between" style=" margin-left: 10%; margin-right: 10%;"
    >
        <div class="w-full lg:w-1/2 mb-8 lg:mb-0">
            <img width="300px" src="https://iili.io/HxCsMg9.png" />
        </div>
        <div class="w-full lg:w-1/2 mb-8 lg:mb-0" style="text-align:right;">
                <h2 class="text-4xl lg:text-3xl font-bold text-gray-800 dark:text-gray-100 mb-4  " >
                  One price, unlimited everything
                </h2>
                <p class="text-gray-600 dark:text-gray-400 text-lg mb-8" >
                  Try one, or use them all. With Claims Advocacy you can use all our services for one low rate. No long term contracts or commitments required.  
                <br /> <br />
                *Facility restrictions may apply
                </p>
                <div style ="padding-bottom: 5%;">
                <a  target="_blank" href="https://data3d.io/search" class="bg-cyan-600 hover:bg-pink-600 text-white font-bold py-3 px-6 rounded-lg">
                   Try FREE  
                </a></div>
            </div>
          </div>
        </div>
    </div>

    
    <div class="bg-white dark:bg-white" style="text-align: center;">

   
       
         
        </div>


        <div class="bg-gray-100 dark:bg-gray-800" style="text-align: center;">

          <h2 class=" container text-4xl lg:text-3xl font-bold text-gray-800 dark:text-gray-100 mb-4  ">
            What's everything?
                </h2>
          <div class="container mx-auto px-4 py-12 lg:py-24">
              
              <div class="flex flex-col lg:flex-row items-center justify-between" style="  display:flex; width: 100%; align-items: flex-end;"
          >
           
              <div class="w-full lg:w-1/3 mb-8 lg:mb-0">
                   <img src="/images/Claims AdvocacyPhone-Voice-181x300.png" style="    display: inline-flex;
                   padding-bottom: 5%;
                   width: 33%;"/>
                  <h3 class="text-4xl lg:text-xl  text-gray-800 dark:text-gray-100 mb-4  ">
                      Talk Time
                  </h3>
                 
                      <p class="text-gray-600 dark:text-gray-400 text-lg mb-8">
                        Talk more with your inmate for less, by getting a best rate number with us.
                      </p>
  
                      <div style ="padding-bottom: 5%;">
                        <a  href="/inmate-calling/" class="bg-cyan-600 hover:bg-pink-600 text-white font-bold py-3 px-6 rounded-lg">
                         Learn More
                        </a></div>
                  </div>
                  <div class="w-full lg:w-1/3 mb-8 lg:mb-0">
                      <img src="/images/photos_lineup-768x768.png" style="    display: inline-flex;
                      padding-bottom: 5%;
                      width: 33%;"/>
                      <!-- <h2 class="text-4xl lg:text-3xl font-bold text-gray-800 dark:text-gray-100 mb-4  ">
                          How it Works
                      </h2> -->
                      <h3 class="text-4xl lg:text-xl  text-gray-800 dark:text-gray-100 mb-4  ">
                          Unlimited Photos
                      </h3>
                      <p class="text-gray-600 dark:text-gray-400 text-lg mb-8">
                        From birthday parties, weddings, and family events, don't let your loved one miss a moment.                      </p>
                      <div style ="padding-bottom: 5%;">
                        <a   href="/send-pictures-to-inmates" class="bg-cyan-600 hover:bg-pink-600 text-white font-bold py-3 px-6 rounded-lg">
                         Learn More
                        </a></div>
                  </div>
                  <div class="w-full lg:w-1/3 mb-8 lg:mb-0">
                      <img src="/images/letters_lineup-768x768.png" style="    display: inline-flex;
                      padding-bottom: 5%;
                      width: 33%;"/>
                      <!-- <h2 class="text-4xl lg:text-3xl font-bold text-gray-800 dark:text-gray-100 mb-4  ">
                          How it Works
                      </h2> -->
                      <h3 class="text-4xl lg:text-xl  text-gray-800 dark:text-gray-100 mb-4  ">
                          Unlimited Letters
                      </h3>
                      <p class="text-gray-600 dark:text-gray-400 text-lg mb-8">
                        No pen or paper? No problem, write your loved one a novel, right at your finger tips.
                      </p>
                      <div style ="padding-bottom: 5%;">
                        <a  href="/write-a-prisoner/" class="bg-cyan-600 hover:bg-pink-600 text-white font-bold py-3 px-6 rounded-lg">
                         Learn More
                        </a></div>
                  </div>
                  
                  <!-- <div class="w-full lg:w-1/2 mb-8 lg:mb-0">
                      <img width="300px" src="" />
                  </div> -->
                </div>
  
                
              </div>
              
  
              <div class="container mx-auto px-4 py-12 lg:py-24">
             
              <div class="flex flex-col lg:flex-row items-center justify-between" style="  display:flex; width: 100%; align-items: flex-end;"
          >
           
              <div class="w-full lg:w-1/3 mb-8 lg:mb-0">
                   <img src="/images/Claims Advocacy-Postcard-2019-OfficialSample-2-300x214.png" style="    display: inline-flex;
                   padding-bottom: 5%;
                   width: 33%;"/>
                  <h3 class="text-4xl lg:text-xl  text-gray-800 dark:text-gray-100 mb-4  ">
                    Unlimited Postcards
                  </h3>
                 
                      <p class="text-gray-600 dark:text-gray-400 text-lg mb-8">
                        Send a little reminder of how they're special to you by creating custom postcards.
                      </p>
                      <div style ="padding-bottom: 5%;">
                        <a  href="/send-postcards-to-inmates/" class="bg-cyan-600 hover:bg-pink-600 text-white font-bold py-3 px-6 rounded-lg">
                         Learn More
                        </a></div>
                    
                  </div>
                  <div class="w-full lg:w-1/3 mb-8 lg:mb-0">
                      <img src="/images/greeting_cards_lineup.png" style="    display: inline-flex;
                      padding-bottom: 5%;
                      width: 33%;"/>
                      <!-- <h2 class="text-4xl lg:text-3xl font-bold text-gray-800 dark:text-gray-100 mb-4  ">
                          How it Works
                      </h2> -->
                      <h3 class="text-4xl lg:text-xl  text-gray-800 dark:text-gray-100 mb-4  ">
                        Unlimited Greeting Cards
                      </h3>
                      <p class="text-gray-600 dark:text-gray-400 text-lg mb-8">
                        Send them a card, for any occasion, from anniversaries to NYE, or make your own.
                      </p>
                      <div style ="padding-bottom: 5%;">
                        <a  href="/send-greeting-cards-to-inmates/" class="bg-cyan-600 hover:bg-pink-600 text-white font-bold py-3 px-6 rounded-lg">
                         Learn More
                        </a></div>
                  </div>
                  <div class="w-full lg:w-1/3 mb-8 lg:mb-0">
                      <img src="/images/Article-768x768.png" style="    display: inline-flex;
                      padding-bottom: 5%;
                      width: 33%;"/>
                      <!-- <h2 class="text-4xl lg:text-3xl font-bold text-gray-800 dark:text-gray-100 mb-4  ">
                          How it Works
                      </h2> -->
                      <h3 class="text-4xl lg:text-xl  text-gray-800 dark:text-gray-100 mb-4  ">
                        Unlimited Web Articles
                      </h3>
                      <p class="text-gray-600 dark:text-gray-400 text-lg mb-8">
                        Found some helpful or informational news? Send it right to your loved one, with a click of a button.                      </p>
                      <div style ="padding-bottom: 5%;">
                        <a  href="/send-articles-to-inmates/" class="bg-cyan-600 hover:bg-pink-600 text-white font-bold py-3 px-6 rounded-lg">
                         Learn More
                        </a></div>
                  </div>
                  
                  <!-- <div class="w-full lg:w-1/2 mb-8 lg:mb-0">
                      <img width="300px" src="" />
                  </div> -->
                </div>
  
                
              </div>
           
          </div>

        <div class="bg-white dark:bg-gray-800" style="text-align: center;  margin-top:2%">

   
          <div class="container mx-auto px-4 py-12 lg:py-24">
              <div class="flex flex-col lg:flex-row items-center justify-between" style=" margin-left: 10%; margin-right: 10%;"
          >
              <div class="w-full lg:w-1/2 mb-8 lg:mb-0">
                  <img width="300px" src="/images/victim-assist_home_time_money_section.png" />
              </div>
              <div class="w-full lg:w-1/2 mb-8 lg:mb-0" style="text-align:right;">
                      <h2 class="text-4xl lg:text-3xl font-bold text-gray-800 dark:text-gray-100 mb-4  ">
                        One tap away to connect
                      </h2>
                      <p class="text-gray-600 dark:text-gray-400 text-lg mb-8">
                        Claims Advocacy makes it extremely convenient for you to stay connected. Search and find your loved one with our FREE inmate search tool. Subscribe as an all-access member and you can start talking and sending photos, letters, postcards, greeting cards, and web articles with a touch of a button.
                      </p>
                      <div style ="padding-bottom: 5%;"  >
                      <a  target="_blank" href="https://data3d.io/search" class="bg-cyan-600 hover:bg-pink-600 text-white font-bold py-3 px-6 rounded-lg" >
                         Try Free
                      </a></div>
                  </div>
                </div>
              </div>
          </div>

        <div class="bg-gray-100 dark:bg-gray-800"  style="text-align: center;">

   
            <div class="container mx-auto px-4 py-12 lg:py-24">
                <!-- <h2 class="text-4xl lg:text-3xl font-bold text-gray-800 dark:text-gray-100 mb-4  ">
                    How it Works
                </h2> -->
                <div class="flex flex-col lg:flex-row items-center justify-between" style=" margin-left: 10%; margin-right: 10%;">
                    
                <!-- <div class="w-full lg:w-1/2 mb-8 lg:mb-0">
                    <img width="300px" src="" />
                </div> -->
                <div class="w-full lg:w-1/1 mb-8 lg:mb-0">
                        <h2 class="text-4xl lg:text-3xl font-bold text-gray-800 dark:text-gray-100 mb-4  ">
                          Try Claims Advocacy for Free, Love it Forever

                        </h2>
                        <p class="text-gray-600 dark:text-gray-400 text-lg mb-8">
                          Your Forever Free Plan allows you to send one order per month.

                        </p>
                        <div style ="padding-bottom: 5%;">
                            <a  target="_blank" href="https://data3d.io/search" class="bg-cyan-600 hover:bg-pink-600 text-white font-bold py-3 px-6 rounded-lg">
                               Try Free
                            </a>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        

            
